@charset "utf-8";

@keyframes rocket{
	from{-webkit-transform: translateX(-300px) translateY(300px);opacity: 0;
		transform: translateX(-300px) translateY(300px);opacity: 0;}
	to{opacity: 1;}
}
@-webkit-keyframes rocket{
	from{-webkit-transform: translateX(-300px) translateY(300px);opacity: 0;
		transform: translateX(-300px) translateY(300px);opacity: 0;}
	to{opacity: 1;}
}

@keyframes miaov{
	from{-webkit-transform:translateX(-193px) n opacity:0 ;
		transform: translateX(-193px) n opacity:0 ;}
	to{opacity:1;}
}
@-webkit-keyframes miaov{
	from{-webkit-transform:translateX(-193px) n opacity:0 ;
		transform: translateX(-193px) n opacity:0 ;}
	to{opacity:1;}
}

@keyframes thanks{
	from{-webkit-transform:translateY(100px);opacity: 0;
		transform: translateY(100px);opacity: 0;}
	to{-webkit-transform:translateY(0px);opacity: 1;
		transform: translateY(0px);opacity: 1;}
}
@-webkit-keyframes thanks{
	from{-webkit-transform:translateY(100px);opacity: 0;
		transform: translateY(100px);opacity: 0;}
	to{-webkit-transform:translateY(0px);opacity: 1;
		transform: translateY(0px);opacity: 1;}
}

@keyframes withyou{
	from{-webkit-transform:translateY(100px);opacity: 0;
		transform: translateY(100px);opacity: 0;}
	to{-webkit-transform: translateY(0px);opacity: 1;
		transform: translateY(0px);opacity: 1;}
}
@-webkit-keyframes withyou{
	from{-webkit-transform:translateY(100px);opacity: 0;
		transform: translateY(100px);opacity: 0;}
	to{-webkit-transform: translateY(0px);opacity: 1;
		transform: translateY(0px);opacity: 1;}
}

@keyframes arrow{
	from{-webkit-transform:translateY(50px);
		transform: translateY(50px);}
	to{-webkit-transform: translateY(0px);
		transform: translateY(0px);}
}
@-webkit-keyframes arrow{
	from{-webkit-transform:translateY(50px);
		transform: translateY(50px);}
	to{-webkit-transform: translateY(0px);
		transform: translateY(0px);}
}



/*消失动画*/
@keyframes Bg-startOut{
	from{}
	to{opacity: 0;}
}
@-webkit-keyframes Bg-startOut{
	from{}
	to{opacity: 0;}
}

@keyframes Bg-pag1Out{
	from{}
	to{opacity: 0;}
}
@-webkit-keyframes Bg-pag1Out{
	from{}
	to{opacity: 0;}
}

@keyframes rocketOut{
	from{}
	to{-webkit-transform:  translateX(300px) translateY(-300px);opacity: 0;
		transform: translateX(300px) translateY(-300px);opacity: 0;}
}
@-webkit-keyframes rocketOut{
	from{}
	to{-webkit-transform:  translateX(300px) translateY(-300px);opacity: 0;
		transform: translateX(300px) translateY(-300px);opacity: 0;}
}

@keyframes miaovOut{
	from{}
	to{-webkit-transform: translateX(193px);opacity:0 ;
		transform: translateX(193px);opacity:0 ;}
}
@-webkit-keyframes miaovOut{
	from{}
	to{-webkit-transform: translateX(193px);opacity:0 ;
		transform: translateX(193px);opacity:0 ;}
}

@keyframes thanksOut{
	from{}
	to{-webkit-transform: translateY(-100px);opacity: 0;
		transform: translateY(-100px);opacity: 0;}
}
@-webkit-keyframes thanksOut{
	from{}
	to{-webkit-transform: translateY(-100px);opacity: 0;
		transform: translateY(-100px);opacity: 0;}
}

@keyframes withyouOut{
	from{}
	to{-webkit-transform:translateY(-100px);opacity: 0;
		transform: translateY(-100px);opacity: 0;}
}
@-webkit-keyframes withyouOut{
	from{}
	to{-webkit-transform:translateY(-100px);opacity: 0;
		transform: translateY(-100px);opacity: 0;}
}



/*音乐*/
@keyframes musicRun{
	from{-webkit-transform:rotate(0deg);
		transform: rotate(0deg);}
	to{-webkit-transform:rotate(360deg);
		transform: rotate(360deg);}
}
@-webkit-keyframes musicRun{
	from{-webkit-transform:rotate(0deg);
		transform: rotate(0deg);}
	to{-webkit-transform:rotate(360deg);
		transform: rotate(360deg);}
}



