@charset "utf-8";

body,div,section,span{margin: 0px;padding: 0px;}
body{font-family: "microsoft yahei";}

section{width: 100%;height: 100%;position: relative;}
.bgColor{background:fff}
h6{color: 373a49;position: absolute;left: 10px;bottom: 10px;font-size: 24px;}
.door{width: 478px;height:561px;background: url(../img/mobile2_03.png);position: absolute;right: 0;bottom: 205px;}
.person{width: 94px;height: 199px;background: url(../img/person.png);position: absolute;right: 20px;bottom: 320px;}



/*音乐*/
.music{width: 64px;height: 64px;position: absolute;top: 20px;right: 20px;z-index: 999;}
.musicrun{background: url(../img/Musicstop.png)no-repeat;
animation: 3s musicRun linear infinite;
-webkit-animation: 3s musicRun linear infinite;}
.musicStop{background: url(../img/Musicrun.png)no-repeat;}


/*进度条
.loadingTab{width: 462px;height: 28px;border: 1px solid #4091dc;border-radius: 14px;position: absolute;left: 50%;margin-left: -231px;z-index: 998;bottom: 119px;overflow: hidden;}
.loadingTab span{width: 20%;height: 28px;background: #4091dc;display: block;}*/



















